###############################
# Core EditorConfig Options   #
###############################

root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,csx,vb,vbx,xaml,txt,vsct}]
indent_size = 4
insert_final_newline = true
